*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #020202;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap:14px;
    padding:20px;
}
h1,h2{
    text-align: center;
}
#expense-form{
    display: flex;
    gap:10px;
}
#expense-name,#expense-amount{
    width:104px;
    padding:10px 5px;
    border:none;
    outline:none;
     background-color: #3a3939;
     font-weight: bold;
     border-radius:5px;
     color:white;
}
#expense-btn{
    border:none;
    outline:none;
     color:white;
     background-color: rgb(90, 5, 159);
     width:70px;
     padding:5px;
    font-weight: bold;
    border-radius:5px;
    
} 
#expense-list{
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 5px;
  
}
.expenses{
    display:flex;
    justify-content: space-between;
     padding:10px;
     font-size:18px;
     font-weight: 500;
     background-color: #3b3a3a;
     border-radius: 5px;
}
.expenses button{
    border:none;
    outline:none;
     color:white;
     background-color: rgb(230, 20, 20);
     width:70px;
     padding:5px;
    font-weight: bold;
    border-radius:5px;
}
#total{
text-align: center;
}